<h1><%= @model.name %> Overview</h1>
<h4><%= @model.vehicle_type.name %></h4>

<li>This model will cost you: $<%= @model.price.to_f.round(2) %></li>

<br>

<li>This model has an EcoScore of <%= @model.eco_score %></li>

<br>

<li> Here are some comparable cars that are even better for the environment: </li>