<h1>Your Favorites</h1>

<div class ="profile-block">
<div class = "favorite-container">
<% @favorites.each do |favorite| %>
    <div class="favorite-tile">
    <%= link_to favorite.model.name, model_path(favorite.model) %>
    <%= button_to "Remove", favorite_path(favorite), method: :delete, class: "fav-delete-btn" %>
    </div>

<% end %>
</div>
</div>
