// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#welcome {
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:  #ffee43;
}
.my_video {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    object-fit: cover;
    z-index: -2;
  }


.form-container {
    text-align: center;
    background-color: green;
    line-height: 50px;
    width: 35%;
    margin: 100px auto;
    border-radius: 25px;
}

.form-input {
    font-size: smaller;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:  #ffee43;
    text-transform: uppercase;
}

.form-btn {   
    text-align: center; 
    margin: 0px auto;
    display: block;
    position: center;
    padding: 4px 3em;
    appearance: none;
    border: 1px solid black;
    border-radius: 25px;
    background: transparent;
    color:  #ffee43;
    text-transform: uppercase;
    letter-spacing: .25em;
    font-weight: bold;
}

.form-btn:hover {
    background-color: yellowgreen;
    color: brown;
    transition: 1s;
}

h1 {
    background-color: rgba(116, 120, 116, .9);
    border: 2px solid black;
    color:   #ffee43;
    text-align: center;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.profile-block {
    background-color: rgba(26, 191, 54, .9);
    border: 1px solid black;
}

.username {
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding: 0px 5px;
}

.num-of-cars {
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px 5px;
}

.eco-score {
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px 5px;
}


.profile-btn {   
    text-align: center; 
    margin: 5px 5px;
    display: inline;
    position: center;
    padding: 4px 3em;
    appearance: none;
    border: 1px solid black;
    border-radius: 25px;
    background: transparent;
    color:  white;
    text-transform: uppercase;
    letter-spacing: .25em;
    font-weight: bold;
}

.profile-btn:hover {
    background-color: yellowgreen;
    color: brown;
    transition: .5s;
}

.danger-zone {
    color: rgb(226, 13, 13);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px 5px;
}

.info {
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px 5px;
}
